<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798049505854-p8nclc15kutm5b2ekeja93klmhq8ubqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798049505854-p8nclc15kutm5b2ekeja93klmhq8ubqd</string>
	<key>API_KEY</key>
	<string>AIzaSyBF-1rhTCbWDEHHpYyI64DB_im-m62VX_A</string>
	<key>GCM_SENDER_ID</key>
	<string>798049505854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.matheuslenke.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-f19bc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-f19bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798049505854:ios:7d94c5db5c2520fd2ab76f</string>
</dict>
</plist>